<!-- app/team/engineering/template.hbs -->

<!-- {{outlet}} -->
<h2> Engineering Team </h2>
<ul>
  {{#each model as |engineer|}}
    <h4>{{#link-to 'team.engineer' engineer}}{{engineer.name}}{{/link-to}}</h4>
  {{/each}}
</ul>

{{#link-to 'team' class="btn btn-sm"}}Back{{/link-to}}

{{outlet}}
